/* style.css */

html {
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: 'Jura', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #81d9a1;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E90418;
    border-radius: 20px;
    width: 1079px;
    height: 750px;
}

#title {
    display: flex;
    align-content: center;
    color: #FFE4BA;
    font-size: 70px;
    margin: 10px;
}

#grid {
    background-color: #FAEBD7;
    height: 550px;
    width: 850px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: crosshair;
    z-index: 1;
}

#controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
    width: 850px;
    height: 100px;
}

#controls button {
    background-color: #FFFFEA;
    color: #000000;
    border: none;
    border-radius: 3px;
    padding: 6px 8px;
    margin-left: 20px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
}

#controls .erase {
    color: #FF5E5B !important;
font-weight: 700;
}

#controls-left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#controls-left p {
    color: #FFFFEA;
    font-weight: 700;
    margin: 0;
}

#controls-right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#controls-right p {
    color: #FFFFEA;
    font-weight: 700;
    margin: 0;
}

#footer {
    /* font-family: monospace; */
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

#footer a {
    text-decoration: none;   
}

.outer-shell {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
}